<p id="notice"><%= notice %></p>

<h1>Golfers</h1>
<h5><%= link_to 'Download CSV', golfers_path(format: 'csv') %></h5>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Salary</th>
      <th>Odds</th>
      <th>Driving accuracy 2020</th>
      <th>Driving accuracy 2019</th>
      <th>Driving distance 2020</th>
      <th>Driving distance 2019</th>
      <th>Approach 100 fw 2020</th>
      <th>Approach 100 fw 2019</th>
      <th>Approach 75 100 fw 2020</th>
      <th>Approach 75 100 fw 2019</th>
      <th>Approach 100 125 fw 2020</th>
      <th>Approach 100 125 fw 2019</th>
      <th>Approach 125 150 fw 2020</th>
      <th>Approach 125 150 fw 2019</th>
      <th>Approach 150 175 fw 2020</th>
      <th>Approach 150 175 fw 2019</th>
      <th>Approach 175 200 fw 2020</th>
      <th>Approach 175 200 fw 2019</th>
      <th>Approach 200 225 fw 2020</th>
      <th>Approach 200 225 fw 2019</th>
      <th>Approach 225 250 fw 2020</th>
      <th>Approach 225 250 fw 2019</th>
      <th>Approach 250 275 fw 2020</th>
      <th>Approach 250 275 fw 2019</th>
      <th>Approach 275 fw 2020</th>
      <th>Approach 275 fw 2019</th>
      <th>Approach 100 rgh 2020</th>
      <th>Approach 100 rgh 2019</th>
      <th>Approach 75 100 rgh 2020</th>
      <th>Approach 75 100 rgh 2019</th>
      <th>Approach 100 125 rgh 2020</th>
      <th>Approach 100 125 rgh 2019</th>
      <th>Approach 125 150 rgh 2020</th>
      <th>Approach 125 150 rgh 2019</th>
      <th>Approach 150 175 rgh 2020</th>
      <th>Approach 150 175 rgh 2019</th>
      <th>Approach 175 200 rgh 2020</th>
      <th>Approach 175 200 rgh 2019</th>
      <th>Approach 200 225 rgh 2020</th>
      <th>Approach 200 225 rgh 2019</th>
      <th>Approach 225 250 rgh 2020</th>
      <th>Approach 225 250 rgh 2019</th>
      <th>Approach 250 275 rgh 2020</th>
      <th>Approach 250 275 rgh 2019</th>
      <th>Approach 275 rgh 2020</th>
      <th>Approach 275 rgh 2019</th>
      <th>Gir 100 2020</th>
      <th>Gir 100 2019</th>
      <th>Gir 75 100 2020</th>
      <th>Gir 75 100 2019</th>
      <th>Gir 100 125 2020</th>
      <th>Gir 100 125 2019</th>
      <th>Gir 125 150 2020</th>
      <th>Gir 125 150 2019</th>
      <th>Gir 150 175 2020</th>
      <th>Gir 150 175 2019</th>
      <th>Gir 175 200 2020</th>
      <th>Gir 175 200 2019</th>
      <th>Gir 200 2020</th>
      <th>Gir 200 2019</th>
      <th>Putting 3 2020</th>
      <th>Putting 3 2019</th>
      <th>Putting 4 2020</th>
      <th>Putting 4 2019</th>
      <th>Putting 5 2020</th>
      <th>Putting 5 2019</th>
      <th>Putting 6 2020</th>
      <th>Putting 6 2019</th>
      <th>Putting 7 2020</th>
      <th>Putting 7 2019</th>
      <th>Putting 8 2020</th>
      <th>Putting 8 2019</th>
      <th>Putting 9 2020</th>
      <th>Putting 9 2019</th>
      <th>Putting 10 2020</th>
      <th>Putting 10 2019</th>
      <th>Putting 10 15 2020</th>
      <th>Putting 10 15 2019</th>
      <th>Putting 15 20 2020</th>
      <th>Putting 15 20 2019</th>
      <th>Putting 20 25 2020</th>
      <th>Putting 20 25 2019</th>
      <th>Putting 25 2020</th>
      <th>Putting 25 2019</th>
      <th>Scrambling 2020</th>
      <th>Scrambling 2019</th>
      <th>Scrambling 10 2020</th>
      <th>Scrambling 10 2019</th>
      <th>Scrambling 10 20 2020</th>
      <th>Scrambling 10 20 2019</th>
      <th>Scrambling 20 30 2020</th>
      <th>Scrambling 20 30 2019</th>
      <th>Scrambling 30 2020</th>
      <th>Scrambling 30 2019</th>
      <th>Scrambling rough 2020</th>
      <th>Scrambling rough 2019</th>
      <th>Scrambling sand 2020</th>
      <th>Scrambling sand 2019</th>
      <th>Scrambling other 2020</th>
      <th>Scrambling other 2019</th>
      <th>Scrambling fringe 2020</th>
      <th>Scrambling fringe 2019</th>
      <th>Avoid 3 putt 5 2020</th>
      <th>Avoid 3 putt 5 2019</th>
      <th>Avoid 3 putt 5 10 2020</th>
      <th>Avoid 3 putt 5 10 2019</th>
      <th>Avoid 3 putt 10 15 2020</th>
      <th>Avoid 3 putt 10 15 2019</th>
      <th>Avoid 3 putt 15 20 2020</th>
      <th>Avoid 3 putt 15 20 2019</th>
      <th>Avoid 3 putt 20 25 2020</th>
      <th>Avoid 3 putt 20 25 2019</th>
      <th>Avoid 3 putt 25 2020</th>
      <th>Avoid 3 putt 25 2019</th>
      <th>Cuts</th>
    </tr>
  </thead>

  <tbody>
    <% @golfers.each do |golfer| %>
      <tr>
        <td><%= golfer.name %></td>
        <td><%= golfer.salary %></td>
        <td><%= golfer.odds %></td>
        <td><%= golfer.driving_accuracy_2020 %></td>
        <td><%= golfer.driving_accuracy_2019 %></td>
        <td><%= golfer.driving_distance_2020 %></td>
        <td><%= golfer.driving_distance_2019 %></td>
        <td><%= golfer.approach_100_fw_2020 %></td>
        <td><%= golfer.approach_100_fw_2019 %></td>
        <td><%= golfer.approach_75_100_fw_2020 %></td>
        <td><%= golfer.approach_75_100_fw_2019 %></td>
        <td><%= golfer.approach_100_125_fw_2020 %></td>
        <td><%= golfer.approach_100_125_fw_2019 %></td>
        <td><%= golfer.approach_125_150_fw_2020 %></td>
        <td><%= golfer.approach_125_150_fw_2019 %></td>
        <td><%= golfer.approach_150_175_fw_2020 %></td>
        <td><%= golfer.approach_150_175_fw_2019 %></td>
        <td><%= golfer.approach_175_200_fw_2020 %></td>
        <td><%= golfer.approach_175_200_fw_2019 %></td>
        <td><%= golfer.approach_200_225_fw_2020 %></td>
        <td><%= golfer.approach_200_225_fw_2019 %></td>
        <td><%= golfer.approach_225_250_fw_2020 %></td>
        <td><%= golfer.approach_225_250_fw_2019 %></td>
        <td><%= golfer.approach_250_275_fw_2020 %></td>
        <td><%= golfer.approach_250_275_fw_2019 %></td>
        <td><%= golfer.approach_275_fw_2020 %></td>
        <td><%= golfer.approach_275_fw_2019 %></td>
        <td><%= golfer.approach_100_rgh_2020 %></td>
        <td><%= golfer.approach_100_rgh_2019 %></td>
        <td><%= golfer.approach_75_100_rgh_2020 %></td>
        <td><%= golfer.approach_75_100_rgh_2019 %></td>
        <td><%= golfer.approach_100_125_rgh_2020 %></td>
        <td><%= golfer.approach_100_125_rgh_2019 %></td>
        <td><%= golfer.approach_125_150_rgh_2020 %></td>
        <td><%= golfer.approach_125_150_rgh_2019 %></td>
        <td><%= golfer.approach_150_175_rgh_2020 %></td>
        <td><%= golfer.approach_150_175_rgh_2019 %></td>
        <td><%= golfer.approach_175_200_rgh_2020 %></td>
        <td><%= golfer.approach_175_200_rgh_2019 %></td>
        <td><%= golfer.approach_200_225_rgh_2020 %></td>
        <td><%= golfer.approach_200_225_rgh_2019 %></td>
        <td><%= golfer.approach_225_250_rgh_2020 %></td>
        <td><%= golfer.approach_225_250_rgh_2019 %></td>
        <td><%= golfer.approach_250_275_rgh_2020 %></td>
        <td><%= golfer.approach_250_275_rgh_2019 %></td>
        <td><%= golfer.approach_275_rgh_2020 %></td>
        <td><%= golfer.approach_275_rgh_2019 %></td>
        <td><%= golfer.gir_100_2020 %></td>
        <td><%= golfer.gir_100_2019 %></td>
        <td><%= golfer.gir_75_100_2020 %></td>
        <td><%= golfer.gir_75_100_2019 %></td>
        <td><%= golfer.gir_100_125_2020 %></td>
        <td><%= golfer.gir_100_125_2019 %></td>
        <td><%= golfer.gir_125_150_2020 %></td>
        <td><%= golfer.gir_125_150_2019 %></td>
        <td><%= golfer.gir_150_175_2020 %></td>
        <td><%= golfer.gir_150_175_2019 %></td>
        <td><%= golfer.gir_175_200_2020 %></td>
        <td><%= golfer.gir_175_200_2019 %></td>
        <td><%= golfer.gir_200_2020 %></td>
        <td><%= golfer.gir_200_2019 %></td>
        <td><%= golfer.putting_3_2020 %></td>
        <td><%= golfer.putting_3_2019 %></td>
        <td><%= golfer.putting_4_2020 %></td>
        <td><%= golfer.putting_4_2019 %></td>
        <td><%= golfer.putting_5_2020 %></td>
        <td><%= golfer.putting_5_2019 %></td>
        <td><%= golfer.putting_6_2020 %></td>
        <td><%= golfer.putting_6_2019 %></td>
        <td><%= golfer.putting_7_2020 %></td>
        <td><%= golfer.putting_7_2019 %></td>
        <td><%= golfer.putting_8_2020 %></td>
        <td><%= golfer.putting_8_2019 %></td>
        <td><%= golfer.putting_9_2020 %></td>
        <td><%= golfer.putting_9_2019 %></td>
        <td><%= golfer.putting_10_2020 %></td>
        <td><%= golfer.putting_10_2019 %></td>
        <td><%= golfer.putting_10_15_2020 %></td>
        <td><%= golfer.putting_10_15_2019 %></td>
        <td><%= golfer.putting_15_20_2020 %></td>
        <td><%= golfer.putting_15_20_2019 %></td>
        <td><%= golfer.putting_20_25_2020 %></td>
        <td><%= golfer.putting_20_25_2019 %></td>
        <td><%= golfer.putting_25_2020 %></td>
        <td><%= golfer.putting_25_2019 %></td>
        <td><%= golfer.scrambling_2020 %></td>
        <td><%= golfer.scrambling_2019 %></td>
        <td><%= golfer.scrambling_10_2020 %></td>
        <td><%= golfer.scrambling_10_2019 %></td>
        <td><%= golfer.scrambling_10_20_2020 %></td>
        <td><%= golfer.scrambling_10_20_2019 %></td>
        <td><%= golfer.scrambling_20_30_2020 %></td>
        <td><%= golfer.scrambling_20_30_2019 %></td>
        <td><%= golfer.scrambling_30_2020 %></td>
        <td><%= golfer.scrambling_30_2019 %></td>
        <td><%= golfer.scrambling_rough_2020 %></td>
        <td><%= golfer.scrambling_rough_2019 %></td>
        <td><%= golfer.scrambling_sand_2020 %></td>
        <td><%= golfer.scrambling_sand_2019 %></td>
        <td><%= golfer.scrambling_other_2020 %></td>
        <td><%= golfer.scrambling_other_2019 %></td>
        <td><%= golfer.scrambling_fringe_2020 %></td>
        <td><%= golfer.scrambling_fringe_2019 %></td>
        <td><%= golfer.avoid_3_putt_5_2020 %></td>
        <td><%= golfer.avoid_3_putt_5_2019 %></td>
        <td><%= golfer.avoid_3_putt_5_10_2020 %></td>
        <td><%= golfer.avoid_3_putt_5_10_2019 %></td>
        <td><%= golfer.avoid_3_putt_10_15_2020 %></td>
        <td><%= golfer.avoid_3_putt_10_15_2019 %></td>
        <td><%= golfer.avoid_3_putt_15_20_2020 %></td>
        <td><%= golfer.avoid_3_putt_15_20_2019 %></td>
        <td><%= golfer.avoid_3_putt_20_25_2020 %></td>
        <td><%= golfer.avoid_3_putt_20_25_2019 %></td>
        <td><%= golfer.avoid_3_putt_25_2020 %></td>
        <td><%= golfer.avoid_3_putt_25_2019 %></td>
        <td><%= golfer.cuts %></td>
      </tr>
    <% end %>
  </tbody>
</table>
