<p id="notice"><%= notice %></p>

<h1>Golfers</h1>
<h4><%= link_to "Data sources", data_sources_path %></h4>
<h5><%= link_to 'Download CSV', golfers_path(format: 'csv') %></h5>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Salary</th>
      <th>Odds</th>
      <th>Rounds</th>
      <th>Around Green 2020</th>
      <th>Around Green 2019</th>
      <th>Off Tee 2020</th>
      <th>Off Tee 2019</th>
      <th>Par 4 2020</th>
      <th>Par 4 2019</th>
      <th>Par 5 2020</th>
      <th>Par 5 2019</th>
      <th>TG 2020</th>
      <th>TG 2019</th>
      <th>Driving Acc 2020</th>
      <th>Driving Acc 2019</th>
      <th>Birdie 2020</th>
      <th>Birdie 2019</th>
      <th>GIR 2020</th>
      <th>GIR 2019</th>
      <th>Approach 2020</th>
      <th>Approach 2019</th>
      <th>Bogey 2020</th>
      <th>Bogey 2019</th>
      <th>Putting 2020</th>
      <th>Putting 2019</th>
      <th>Driving Accuracy 2020</th>
      <th>Driving Accuracy 2019</th>
      <th>Driving Distance 2020</th>
      <th>Driving Distance 2019</th>
      <th>Approach from 100 FWY 2020</th>
      <th>Approach from 100 FWY 2019</th>
      <th>Approach from 75-100 FWY 2020</th>
      <th>Approach from 75-100 FWY 2019</th>
      <th>Approach from 100-125 FWY 2020</th>
      <th>Approach from 100-125 FWY 2019</th>
      <th>Approach from 125-150 FWY 2020</th>
      <th>Approach from 125-150 FWY 2019</th>
      <th>Approach from 150-175 FWY 2020</th>
      <th>Approach from 150-175 FWY 2019</th>
      <th>Approach from 175-200 FWY 2020</th>
      <th>Approach from 175-200 FWY 2019</th>
      <th>Approach from 200-225 FWY 2020</th>
      <th>Approach from 200-225 FWY 2019</th>
      <th>Approach from 225-250 FWY 2020</th>
      <th>Approach from 225-250 FWY 2019</th>
      <th>Approach from 250-275 FWY 2020</th>
      <th>Approach from 250-275 FWY 2019</th>
      <th>Approach from 275+ FWY 2020</th>
      <th>Approach from 275+ FWY 2019</th>
      <th>Approach from 100 RGH 2020</th>
      <th>Approach from 100 RGH 2019</th>
      <th>Approach from 75-100 RGH 2020</th>
      <th>Approach from 75-100 RGH 2019</th>
      <th>Approach from 100-125 RGH 2020</th>
      <th>Approach from 100-125 RGH 2019</th>
      <th>Approach from 125-150 RGH 2020</th>
      <th>Approach from 125-150 RGH 2019</th>
      <th>Approach from 150-175 RGH 2020</th>
      <th>Approach from 150-175 RGH 2019</th>
      <th>Approach from 175-200 RGH 2020</th>
      <th>Approach from 175-200 RGH 2019</th>
      <th>Approach from 200-225 RGH 2020</th>
      <th>Approach from 200-225 RGH 2019</th>
      <th>Approach from 225-250 RGH 2020</th>
      <th>Approach from 225-250 RGH 2019</th>
      <th>Approach from 250-275 RGH 2020</th>
      <th>Approach from 250-275 RGH 2019</th>
      <th>Approach from 275+ RGH 2020</th>
      <th>Approach from 275+ RGH 2019</th>
      <th>GIR 100 2020</th>
      <th>GIR 100 2019</th>
      <th>GIR 75-100 2020</th>
      <th>GIR 75-100 2019</th>
      <th>GIR 100-125 2020</th>
      <th>GIR 100-125 2019</th>
      <th>GIR 125-150 2020</th>
      <th>GIR 125-150 2019</th>
      <th>GIR 150-175 2020</th>
      <th>GIR 150-175 2019</th>
      <th>GIR 175-200 2020</th>
      <th>GIR 175-200 2019</th>
      <th>GIR 200+ 2020</th>
      <th>GIR 200+ 2019</th>
      <th>Putting from 3 2020</th>
      <th>Putting from 3 2019</th>
      <th>Putting from 4 2020</th>
      <th>Putting from 4 2019</th>
      <th>Putting from 5 2020</th>
      <th>Putting from 5 2019</th>
      <th>Putting from 6 2020</th>
      <th>Putting from 6 2019</th>
      <th>Putting from 7 2020</th>
      <th>Putting from 7 2019</th>
      <th>Putting from 8 2020</th>
      <th>Putting from 8 2019</th>
      <th>Putting from 9 2020</th>
      <th>Putting from 9 2019</th>
      <th>Putting from 10 2020</th>
      <th>Putting from 10 2019</th>
      <th>Putting from 10-15 2020</th>
      <th>Putting from 10-15 2019</th>
      <th>Putting from 15-20 2020</th>
      <th>Putting from 15-20 2019</th>
      <th>Putting from 20-25 2020</th>
      <th>Putting from 20-25 2019</th>
      <th>Putting from 25+ 2020</th>
      <th>Putting from 25+ 2019</th>
      <th>Scrambling 2020</th>
      <th>Scrambling 2019</th>
      <th>Scrambling from 10 2020</th>
      <th>Scrambling from 10 2019</th>
      <th>Scrambling from 10-20 2020</th>
      <th>Scrambling from 10-20 2019</th>
      <th>Scrambling from 20-30 2020</th>
      <th>Scrambling from 20-30 2019</th>
      <th>Scrambling from 30+ 2020</th>
      <th>Scrambling from 30+ 2019</th>
      <th>Scrambling from Rough 2020</th>
      <th>Scrambling from Rough 2019</th>
      <th>Scrambling from Sand 2020</th>
      <th>Scrambling from Sand 2019</th>
      <th>Scrambling from Other 2020</th>
      <th>Scrambling from Other 2019</th>
      <th>Scrambling from Fringe 2020</th>
      <th>Scrambling from Fringe 2019</th>
      <th>Avoid 3-putt from 5 2020</th>
      <th>Avoid 3-putt from 5 2019</th>
      <th>Avoid 3-putt from 5-10 2020</th>
      <th>Avoid 3-putt from 5-10 2019</th>
      <th>Avoid 3-putt from 10-15 2020</th>
      <th>Avoid 3-putt from 10-15 2019</th>
      <th>Avoid 3-putt from 15-20 2020</th>
      <th>Avoid 3-putt from 15-20 2019</th>
      <th>Avoid 3-putt from 20-25 2020</th>
      <th>Avoid 3-putt from 20-25 2019</th>
      <th>Avoid 3-putt from 25+ 2020</th>
      <th>Avoid 3-putt from 25+ 2019</th>
      <th>Cuts</th>
    </tr>
  </thead>

  <tbody>
    <% @golfers.each do |golfer| %>
      <tr>
        <td><%= golfer.name %></td>
        <td><%= golfer.salary %></td>
        <td><%= golfer.odds %></td>
        <td><%= golfer.rounds %></td>
        <td><%= golfer.around_green_rank_2020 %></td>
        <td><%= golfer.around_green_rank_2019 %></td>
        <td><%= golfer.off_tee_rank_2020 %></td>
        <td><%= golfer.off_tee_rank_2019 %></td>
        <td><%= golfer.par_4_rank_2020 %></td>
        <td><%= golfer.par_4_rank_2019 %></td>
        <td><%= golfer.par_5_rank_2020 %></td>
        <td><%= golfer.par_5_rank_2019 %></td>
        <td><%= golfer.tee_to_green_rank_2020 %></td>
        <td><%= golfer.tee_to_green_rank_2019 %></td>
        <td><%= golfer.driving_accuracy_rank_2020 %></td>
        <td><%= golfer.driving_accuracy_rank_2019 %></td>
        <td><%= golfer.birdie_rank_2020 %></td>
        <td><%= golfer.birdie_rank_2019 %></td>
        <td><%= golfer.gir_rank_2020 %></td>
        <td><%= golfer.gir_rank_2019 %></td>
        <td><%= golfer.approach_rank_2020 %></td>
        <td><%= golfer.approach_rank_2019 %></td>
        <td><%= golfer.bogey_rank_2020 %></td>
        <td><%= golfer.bogey_rank_2019 %></td>
        <td><%= golfer.putting_rank_2020 %></td>
        <td><%= golfer.putting_rank_2019 %></td>
        <td><%= golfer.driving_accuracy_2020 %></td>
        <td><%= golfer.driving_accuracy_2019 %></td>
        <td><%= golfer.driving_distance_2020 %></td>
        <td><%= golfer.driving_distance_2019 %></td>
        <td><%= golfer.approach_100_fw_2020 %></td>
        <td><%= golfer.approach_100_fw_2019 %></td>
        <td><%= golfer.approach_75_100_fw_2020 %></td>
        <td><%= golfer.approach_75_100_fw_2019 %></td>
        <td><%= golfer.approach_100_125_fw_2020 %></td>
        <td><%= golfer.approach_100_125_fw_2019 %></td>
        <td><%= golfer.approach_125_150_fw_2020 %></td>
        <td><%= golfer.approach_125_150_fw_2019 %></td>
        <td><%= golfer.approach_150_175_fw_2020 %></td>
        <td><%= golfer.approach_150_175_fw_2019 %></td>
        <td><%= golfer.approach_175_200_fw_2020 %></td>
        <td><%= golfer.approach_175_200_fw_2019 %></td>
        <td><%= golfer.approach_200_225_fw_2020 %></td>
        <td><%= golfer.approach_200_225_fw_2019 %></td>
        <td><%= golfer.approach_225_250_fw_2020 %></td>
        <td><%= golfer.approach_225_250_fw_2019 %></td>
        <td><%= golfer.approach_250_275_fw_2020 %></td>
        <td><%= golfer.approach_250_275_fw_2019 %></td>
        <td><%= golfer.approach_275_fw_2020 %></td>
        <td><%= golfer.approach_275_fw_2019 %></td>
        <td><%= golfer.approach_100_rgh_2020 %></td>
        <td><%= golfer.approach_100_rgh_2019 %></td>
        <td><%= golfer.approach_75_100_rgh_2020 %></td>
        <td><%= golfer.approach_75_100_rgh_2019 %></td>
        <td><%= golfer.approach_100_125_rgh_2020 %></td>
        <td><%= golfer.approach_100_125_rgh_2019 %></td>
        <td><%= golfer.approach_125_150_rgh_2020 %></td>
        <td><%= golfer.approach_125_150_rgh_2019 %></td>
        <td><%= golfer.approach_150_175_rgh_2020 %></td>
        <td><%= golfer.approach_150_175_rgh_2019 %></td>
        <td><%= golfer.approach_175_200_rgh_2020 %></td>
        <td><%= golfer.approach_175_200_rgh_2019 %></td>
        <td><%= golfer.approach_200_225_rgh_2020 %></td>
        <td><%= golfer.approach_200_225_rgh_2019 %></td>
        <td><%= golfer.approach_225_250_rgh_2020 %></td>
        <td><%= golfer.approach_225_250_rgh_2019 %></td>
        <td><%= golfer.approach_250_275_rgh_2020 %></td>
        <td><%= golfer.approach_250_275_rgh_2019 %></td>
        <td><%= golfer.approach_275_rgh_2020 %></td>
        <td><%= golfer.approach_275_rgh_2019 %></td>
        <td><%= golfer.gir_100_2020 %></td>
        <td><%= golfer.gir_100_2019 %></td>
        <td><%= golfer.gir_75_100_2020 %></td>
        <td><%= golfer.gir_75_100_2019 %></td>
        <td><%= golfer.gir_100_125_2020 %></td>
        <td><%= golfer.gir_100_125_2019 %></td>
        <td><%= golfer.gir_125_150_2020 %></td>
        <td><%= golfer.gir_125_150_2019 %></td>
        <td><%= golfer.gir_150_175_2020 %></td>
        <td><%= golfer.gir_150_175_2019 %></td>
        <td><%= golfer.gir_175_200_2020 %></td>
        <td><%= golfer.gir_175_200_2019 %></td>
        <td><%= golfer.gir_200_2020 %></td>
        <td><%= golfer.gir_200_2019 %></td>
        <td><%= golfer.putting_3_2020 %></td>
        <td><%= golfer.putting_3_2019 %></td>
        <td><%= golfer.putting_4_2020 %></td>
        <td><%= golfer.putting_4_2019 %></td>
        <td><%= golfer.putting_5_2020 %></td>
        <td><%= golfer.putting_5_2019 %></td>
        <td><%= golfer.putting_6_2020 %></td>
        <td><%= golfer.putting_6_2019 %></td>
        <td><%= golfer.putting_7_2020 %></td>
        <td><%= golfer.putting_7_2019 %></td>
        <td><%= golfer.putting_8_2020 %></td>
        <td><%= golfer.putting_8_2019 %></td>
        <td><%= golfer.putting_9_2020 %></td>
        <td><%= golfer.putting_9_2019 %></td>
        <td><%= golfer.putting_10_2020 %></td>
        <td><%= golfer.putting_10_2019 %></td>
        <td><%= golfer.putting_10_15_2020 %></td>
        <td><%= golfer.putting_10_15_2019 %></td>
        <td><%= golfer.putting_15_20_2020 %></td>
        <td><%= golfer.putting_15_20_2019 %></td>
        <td><%= golfer.putting_20_25_2020 %></td>
        <td><%= golfer.putting_20_25_2019 %></td>
        <td><%= golfer.putting_25_2020 %></td>
        <td><%= golfer.putting_25_2019 %></td>
        <td><%= golfer.scrambling_2020 %></td>
        <td><%= golfer.scrambling_2019 %></td>
        <td><%= golfer.scrambling_10_2020 %></td>
        <td><%= golfer.scrambling_10_2019 %></td>
        <td><%= golfer.scrambling_10_20_2020 %></td>
        <td><%= golfer.scrambling_10_20_2019 %></td>
        <td><%= golfer.scrambling_20_30_2020 %></td>
        <td><%= golfer.scrambling_20_30_2019 %></td>
        <td><%= golfer.scrambling_30_2020 %></td>
        <td><%= golfer.scrambling_30_2019 %></td>
        <td><%= golfer.scrambling_rough_2020 %></td>
        <td><%= golfer.scrambling_rough_2019 %></td>
        <td><%= golfer.scrambling_sand_2020 %></td>
        <td><%= golfer.scrambling_sand_2019 %></td>
        <td><%= golfer.scrambling_other_2020 %></td>
        <td><%= golfer.scrambling_other_2019 %></td>
        <td><%= golfer.scrambling_fringe_2020 %></td>
        <td><%= golfer.scrambling_fringe_2019 %></td>
        <td><%= golfer.avoid_3_putt_5_2020 %></td>
        <td><%= golfer.avoid_3_putt_5_2019 %></td>
        <td><%= golfer.avoid_3_putt_5_10_2020 %></td>
        <td><%= golfer.avoid_3_putt_5_10_2019 %></td>
        <td><%= golfer.avoid_3_putt_10_15_2020 %></td>
        <td><%= golfer.avoid_3_putt_10_15_2019 %></td>
        <td><%= golfer.avoid_3_putt_15_20_2020 %></td>
        <td><%= golfer.avoid_3_putt_15_20_2019 %></td>
        <td><%= golfer.avoid_3_putt_20_25_2020 %></td>
        <td><%= golfer.avoid_3_putt_20_25_2019 %></td>
        <td><%= golfer.avoid_3_putt_25_2020 %></td>
        <td><%= golfer.avoid_3_putt_25_2019 %></td>
        <td><%= golfer.cuts %></td>
      </tr>
    <% end %>
  </tbody>
</table>
