<p id="notice"><%= notice %></p>

<p>
  <strong>Stat:</strong>
  <%= @data_source.stat %>
</p>

<p>
  <strong>PGA ID:</strong>
  <%= @data_source.pga_id %>
</p>

<p>
  <strong>Stat Column Header:</strong>
  <%= @data_source.stat_column_name %>
</p>


<ul>
  <li><%= link_to 'Back', data_sources_path %></li>
  <li><%= link_to 'Edit', edit_data_source_path(@data_source) %></li>
  <li><%= link_to 'Delete', @data_source, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>
